main {
    padding: 50px;
}

form {
    background-color: #0090b1;
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    border-style: groove;
    border-color: #F56E00;
}

main > form > fieldset {
    border: 0;
}

main > form > fieldset > label {
    display: block;
    color: white;
    margin-bottom: 5px;
    text-shadow: 1px 1px #F56E00;
}

main > form > fieldset > input {
    height: 25px;
}

.input-forms {
    width:100%;
}

@media only screen and (max-width: 480px) {
    main {
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    main > form {
        background-color: #0090b1;
        width: 80%;
        padding: 20px;
        border-radius: 15px;
        margin: 0 auto;
        border-style: groove;
        border-color: #F56E00;
    }
}