main {
    padding: 50px;
}

form {
    background-color: #0090b1;
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    border-style: groove;
    border-color: #F56E00;
    box-shadow: 6px 6px 4px black, inset 5px 5px 5px black;
}

main > form > fieldset {
    border: 0;
}

main > form > fieldset > label {
    display: block;
    color: white;
    margin-bottom: 5px;
    text-shadow: 1px 1px #F56E00;
}

main > form > fieldset > input {
    height: 25px;
}

.input-forms {
    width: 100%;
    border: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 20px;
    }
   
    main > form {
        background-color: #0090b1;
        width: 90%;
        padding: 20px;
        border-radius: 15px;
        margin: 0% -2%;
        border-style: groove;
        border-color: #F56E00;
    }
}