body{
    margin: 0;
    font-family: 'Lora', serif;
    background-color: #141414;
}

header {
    background-color:#ff8828;
    background-image: url('background-header.jpeg');
    background-size: 100% 100%;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px black;
    border-bottom-color:#006e86;
    border-bottom-style:groove;
}

header > img {
    border-radius:50%;
    border-style:groove;
    border-color:#F56E00;
    margin: 10px;
    width: 200px;
    height: 200px;
}

header > a > img {
    border-radius: 50%;
    border-style: groove;
    border-color: #F56E00;
    margin: 10px;
    max-width: 70px;
    max-height: 70px;
}

nav {
    background-color: #F56E00;
    text-align: center;
}

nav > ul {
    margin: 0;
    padding: 10px;
}

nav > ul > li {
    display: inline;
    padding: 10px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    header {
      background-image: url('background-header2.jpeg');
    }
}

section > ul > li{
    font-size: 120%;
}

section > p{
    font-size: 120%;
}

section {
    background-color: #0090b1;
    color:#F2F2F2;
    margin: 40px;
    border-style:groove;
    border-color: #F56E00;
    padding: 20px;
    border-radius: 15px;
    text-shadow: 1px 1px rgb(252, 101, 1);
}

footer {
    background-color:#F56E00;
    margin: 0;
    color: #F2F2F2;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px #006e86;
    border-top-style: groove;
    border-top-color:#006e86;

}