body{
    margin: 0;
    font-family: 'Lora', serif;
    background-color: #0D0D0D;
}

header {
    background-color:#F56E00;
    background-image: url('background-header.jpeg');
    background-size: 100% 100%;
    text-align: center;
    color: #ffffff;
    border-radius: 2%;
    text-shadow: 3px 3px black;
}

header > img {
    border-radius:50%;
    border-style:groove;
    border-color:#F56E00;
    margin: 10px;
    width: 200px;
    height: 200px;
}

header > a > img {
    border-radius: 50%;
    border-style: groove;
    border-color: #F56E00;
    margin: 10px;
    max-width: 70px;
    max-height: 70px;
}

@media only screen and (max-width: 480px) {
    header {
      background-image: url('background-header2.jpeg');
    }
}

section {
    background-color: #04B2D9;
    color:#F2F2F2;
    margin: 40px;
    border-style:groove;
    border-color: #F56E00;
    padding: 20px;
    border-radius: 15px;
    text-shadow: 1px 1px rgb(252, 101, 1);
}

footer {
    background-color:#F56E00;
    margin: 0;
    color: #F2F2F2;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px black;
}